

/* Define the colours to be used */
// ================================================

// Sectional 
$section1-base-color: #64b32f;
$section2-base-color: #f39201;

// Common 
$grey: #666666;
$purple: #961b81;
$pink: #e5007e;

//Panels
$respond-colour:#e8472c;
$checklist-colour:#4fb9ae;
$research-colour:#b265a5;
$discussion-colour:#f07b05;
$syllabus-colour:#636aaf;
$interactive-colour:#ffb000;