

/* Define the colours to be used */
// ================================================

// Sectional 
$book1: #982d79;
$book2: #82a835;

// Common 
$grey: #666666;
$purple: #961b81;
$pink: #e5007e;


//Panels
$investigate-color:#fad58d;
$collaborate-color:#572b79;
$activity-color:#568c9d;
$recipe-color:#fff9ec;
$trivia-color:#30596b;
$design-brief-color:#f0f5f6;
$glossary-color:#253275;
