

/* 

Chapter + Section covers 

=========================================================================== */



@mixin coverBackground($filename) {
  background-image: url('../images/chapter#{$filename}-cover.jpg');
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment:scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*	Assign backgrounds 
=========================================================================== 
	
	Using a custom mixin here allows us to pass the increment 
   	variable through to generate the image path for the covers */

 @for $i from 1 through 12 {
	#book1.chapter-cover.chapter#{$i} {
		@include coverBackground($i);
	}
	#book2.chapter-cover.chapter#{$i} {
		@include coverBackground($i);
	}
}



/* 	Assign mast colours 
=========================================================================== */

$colors-list: $book1-chapter1, $book1-chapter2, $book1-chapter3, $book1-chapter4, $book1-chapter5, $book1-chapter6, $book1-chapter7, $book1-chapter8, $book1-chapter9, $book1-chapter10, $book1-chapter11, $book1-chapter12;
@for $i from 1 through length($colors-list) {
	#book1.chapter-cover.chapter#{$i} {
		.masthead{
			@include background-opacity(nth($colors-list, $i));
		}
	}
}

$colors-list: $book2-chapter1, $book2-chapter2, $book2-chapter3, $book2-chapter4, $book2-chapter5, $book2-chapter6, $book2-chapter7, $book2-chapter8;
@for $i from 1 through length($colors-list) {
	#book2.chapter-cover.chapter#{$i} {
		.masthead{
			@include background-opacity(nth($colors-list, $i));
		}
	}
}



.chapter-cover{
	.masthead{
		position: relative;
		top: 50px;
		text-align: right;
		color: #fff;
		text-transform: uppercase;
		padding: 2.5em;
		font-weight: 200;

		.chapter{
			font-size: $h3-font-size;
			line-height: 2em;
		}
		.title{
			font-size: $h1-font-size;
			line-height: 1.2em;
		}

	}
	
}

.cover-caption{
	background-color: #FFF;
	padding:2em;
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-size:0.9em;
	span{
		color: $grey;
	}
}

