


/* Page elements */

#epub{




	.has-tip{
		background-color:lighten($tooltiip-color,50);
		padding:0.2em;
		@include rounded-all-corners(0.6em);

	}

	p{
		a{
		font-weight: bold;
		color: $grey;
			&:hover{
				text-decoration: underline;
			}
			&:active{
				text-decoration: none;
				color: #000;
			}
		}
	}
	



	h2{
		font-size: 1.8em;
		line-height:1.2em;
		padding:0.6em;
	}

	h4{
		color: $grey;
		font-weight: 400;
		font-size: 1.3em;
	}

	// Coloured bullets
	ol{
		li{
			color: $grey;
			font-weight: bold;
			> span{
				font-weight: normal;
				color: #000;
			}
		}
	}
}




#epub{
	#book1{
		h2{
			background-color:$book1;
			color: #fff;
		}
		h3{
			color: $book1;
		}
	}
	#book2{
		h2{
			background-color:$book2;
			color: #fff;
		}
		h3{
			color: $book2;
		}
	}
}