

// Panels
// ================================================================================================

.investigate-panel{
	clear: both;
	@include grid-row;
	@include rounded-corners(0.8em, 0, 0, 0.8em);
	background-color: $investigate-color;
	border: 3px dotted darken($investigate-color,25);
	padding: 0.8em;
	margin-bottom:2em;

	// Icon re-sizing
	@include svg-bg("../images/ui/investigate-icon", no-repeat, 12px 12px);
	background-size: 50px auto;
	@media #{$small} {
		@include svg-bg("../images/ui/investigate-icon", no-repeat, 20px 20px);
		background-size: 65px auto;
	}

	.content{
		@include grid-column(11, false, false, 1, false, false, false, left);
	}
	h3{
		color: #000 !important;
	}
}




.activity-panel{
		clear: both;
		margin-bottom: 45px;
	.top{
		background-color:$activity-color;
		height:10px;
		margin: 0 15px;
		@include rounded-corners(20px, 20px, 0, 0);
	}
	.bottom{
		background-color:$activity-color;
		height:10px;
		margin: 0 15px;
		@include rounded-corners(0, 0, 20px, 20px);
	}
	.inner{
		padding:15px 20px;
		border:1px solid $activity-color;
		overflow: auto;
	}

	.download{
		float: left;
		width: 100%;
		padding-right: 0;
		a{
			color:$activity-color;
			&:hover{
				@include download-colour($grey, 0);
			}
		}
		@media #{$small} {
			width: 20%;
			padding-right: 30px;
		}

	}
	.content{
		float: left;
		width: 100%;
		@media #{$small} {
			width: 80%;
		}
	}
	h3{
		padding:0;
		margin:0;
		font-size:$h4-font-size;
		color: $activity-color !important;
	}
	table{
		border:2px solid $activity-color !important;
		th{
			background-color:$activity-color !important;
			border-right:2px solid #fff;
		}

		td{
			border-right:2px solid $activity-color !important;
		}
	}
}




.trivia-panel{
		clear: both;
		margin-bottom: 45px;
		h3{
			padding:8px;
			margin:0;
			text-align:center;
			text-transform: uppercase;
			font-size:$h4-font-size;
			background-color: $trivia-color;
			color: #fff !important;
			margin-bottom: 15px;
		}
}



.collaborate-panel{
		clear: both;
		padding:15px 50px;
		margin-bottom: 45px;
		border-bottom:1px solid $collaborate-color;
		border-right:1px solid $collaborate-color;
		@include rounded-corners(0,0,1em,0);


		// Icon re-sizing
		@include svg-bg("../images/ui/collaborate-icon", no-repeat, 12px 12px);
			background-size: auto 100px;
		@media #{$small} {
			@include svg-bg("../images/ui/collaborate-icon", no-repeat, 20px 20px);
			background-size: auto 80px;
		}


		h3{
			padding:0;
			margin:0;
			font-size:$h4-font-size;
			text-transform: uppercase;
			color: $collaborate-color !important;
		}
}