

/*	Base styles */
//	================================================================================================
//	These styles apply baseline presentation that are common to all epub titles.
//	================================================================================================
/* 	All styles are being scoped to a base ID to help with style spill in the epUb player */
// 	================================================================================================


#epub{

	/* The data attribute on the root epub element provides the page with the reposive grid config */
	// ================================================================================================

	> div:first-child[data-type="page"] {
			@include grid-row;
			@include grid-column(12, false, false, false, false, false, false, false);
	}

	> div:first-child[data-type="test"] {
		> div:first-child{
			@include grid-row;
			@include grid-column(12, false, false, false, false, false, false, false);
		}
	}



	// Headings
	// ================================================================================================
	h1,h2,h3{
		color:$grey;
		font-weight:600;
	}
	h4,h5{
		font-weight:200;
	}


	// Images
	// ================================================================================================
	img{
		width:100%;
	}
	figure{
		width:100%;
		margin: 10px 0;
		@media #{$small} {
			width:70%;
		}
	}

	figcaption{
		padding:15px 0;
		font-weight:normal;
		font-size: $base-font-size * 0.95;
		line-height: 1.2em;
		span{
			font-weight:bold;
		}
	}


	// Tables
	// ================================================================================================
	table{
		width:100%;
		margin:25px 0;
		table-layout: fixed;
		

		th,
		td{
			text-align:left;
			vertical-align: top;
		}
		tr th{
			color: #fff;
			font-size:1.1em;
			line-height: 1.4em;
		}
		tr td{
			padding:0.8em;
		}
	}
	caption{
		caption-side:bottom;
		text-align:left;
		font-weight:normal;
		font-size: $base-font-size * 0.80;
		line-height: 1.2em;
		padding:10px 0;
		span{
			font-weight:bold;
		}
	}




	// Forms
	// ================================================================================================
	textarea, input{
    	box-shadow: none;
	}




	// Download button
	// ================================================================================================
	.download{
		@include clearfix();
		text-align:left;
		margin-bottom: 25px;

		@media #{$small} {
			text-align:center;
		}

		>a >span {
			font-size:emCalc(60px);
			float: left;

			@media #{$small} {
				float: none;
				font-size:emCalc(80px);
			}
		}
		>a >span + div{
			margin-top: 15px;
			margin-left: 10px;
			margin-bottom: 15px;
			font-size:emCalc(20px);
	
			float: left;

			@media #{$small} {
				float: none;
				margin: 15px 0px 0px 0px;
				font-size:emCalc(20px);
			}
		}
	}



	//	Lists
	// ================================================================================================
	ul{
		list-style-position:outside;
		margin-left:18px;
		li{
			margin:15px 0px;
		}
		ul{
			li{list-style-type:none;}
			li:before {  
	    		content: " – "; 
	    		margin-left: -10px;
	  		} 
		}
	}
	ol{
		list-style-position:outside;
		margin-left:18px;
		li{
			margin:15px 0px;
		}
		ol{
			list-style-position:outside;
			li{
				list-style-type:decimal;	
				padding:0px 0px;
				margin:5px 0px;
			}
		}
		ol.roman{
			list-style-position:outside;
			li{
				list-style-type:lower-roman;	
				padding:0px 0px;
				margin:5px 0px;
			}
		}
		ol.alpha{
			list-style-position:outside;
			li{
				list-style-type:lower-alpha;	
				padding:0px 0px;
				margin:5px 0px;
			}
		}
		
	}
	ol.alpha{
		li{
			list-style-type:upper-alpha;
		}
		ol{
			li{
				list-style-type:lower-roman;
			}
		}
	}


	// Block grid / Image tile
	// ================================================================================================
	.image-tile-2,
	.image-tile-3,
	.image-tile-4{
		figure{
			width:100%;
			margin:0;
		}
	};

	.image-tile-2{@include block-grid(1, $block-grid-default-spacing)};
	.image-tile-3{@include block-grid(1, $block-grid-default-spacing)};
	.image-tile-4{@include block-grid(1, $block-grid-default-spacing)};

	@media #{$small} {	
		.image-tile-2{@include block-grid(2, $block-grid-default-spacing)};
		.image-tile-3{@include block-grid(3, $block-grid-default-spacing)};
		.image-tile-4{@include block-grid(4, $block-grid-default-spacing)};
	}




	/* Helpers
	================================================================================================ */
	.inline{
		width:50% !important;
		display:block;
	}
	.float-left{
		width: 100%;
		@media #{$small} {	
			float:left;
			width: 50%;
			margin-right:50px; 
		}
	}
	.float-right{
	 	width: 100%;
			@media #{$small} {
			float:right;
			width: 50%;
			margin-left:50px; 
		}
	}
	.float-center{
	 	width: 100%;
			@media #{$small} {
			width: 70%;
			margin:0 auto; 
		}
	}
	
	.float-right.small{
		width: 60%;
		margin:0 auto;
		@media #{$small} {
			width: 30%;
			margin-left:50px; 
		}
	}
	.float-left.small{
		width: 60%;
		margin:0 auto;
		@media #{$small} {
			width: 30%;
			margin-right:50px; 
		}
	}


	.align-right{
		float: right;
	}

	


}